@model WeatherApp.Models.WeatherResponse

@if (Model != null)
{
    <div class="container">
        <img src="@Model.Current.Condition.Icon" alt="Weather icon" class="mx-auto" />
        <h2>@Model.Location.Name, @Model.Location.Country</h2>
        <p id="temperature">
            Temperature: 
            <span id="tempC">@Model.Current.TempC &deg;C</span>
            <span id="tempF" class="hidden">@Model.Current.TempF &deg;F</span>
        </p>
        <p>Condition: @Model.Current.Condition.Text</p>
    </div>
}
